{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./components",
          "@middleware": "./middleware",
          "@engine": "./engine",
          "@editor": "./editor",
          "@shared": "./shared",
          "@service": "./service",
          "@store": "./store",
          "@pages": "./pages",
          "@css": "./css",
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
  ],
}